/* GM Intra CSS Stylesheet */

html, body
{
    width: 100%;
	margin: 0px;
}
body {
	font-family:Verdana;
	font-size:11pt;
	background-color:grey;
}
p {
	margin:0px;
	padding:0px;
}
h3 {
	margin:0px;
	font-size:13pt;
}
h4 {
	margin:0px;
	font-size:12pt;
}

/* Login-Page */

div#log_title {
	font-weight:bold;
	font-size:20pt;
	margin-top:40px;
}
div#form {
	
}
div.m_title {
	font-weight:bold;
	font-size:18pt;
	width:100%;
	height:65px;
	background-color:#ccc;
	padding-top:35px;

}
span.m_title {
	
}
div.m_bar {
	width:100%;
	height:20px;
	background-color:white;
	border-top:1px solid;
	border-bottom:1px solid;
	padding:10px;
}
div.m_content {
	width:1000px;
	background-color:white;
	border:1px solid;
	margin:20px auto;
	padding:20px;
}
